In [1]:
import sqlite3
import pandas as pd

# creo la conexion.
cnx = sqlite3.connect('feature_store_online.db')

In [8]:
data = pd.read_csv('../train_model.csv')
data.head(2)

,id,age,years_on_the_job,nb_previous_loans,avg_amount_loans_previous,flag_own_car,status
0,5008804,33,12.0,0.0,NaN,1,0
1,5008804,33,12.0,1.0,102.283361,1,0

In [9]:
data = data.dropna()
data.drop_duplicates(subset='id',inplace=True)

In [10]:
# creo el cursos
cur = cnx.cursor()

# Create table
cur.execute('''CREATE TABLE features_table (
                id INTEGER PRIMARY KEY,
                nb_previous_loans INTEGER,
                avg_amount_loans_previous REAL,
                age INTEGER,
                years_on_the_job INTEGER,
                flag_own_car INTEGER,
                status INTEGER);''')

OperationalError: table features_table already exists

In [11]:
# Insert whole DataFrame into MySQL
data.to_sql('features_table', con = cnx, if_exists = 'append', chunksize = 1000,index=None)

In [12]:
# Save (commit) the changes
#con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
cnx.close()

In [15]:
# creo la conexion.
cnx = sqlite3.connect('feature_store_online.db')
id = 5008805
fetch_rows = pd.read_sql_query(f"SELECT * FROM features_table where id = {id}", cnx)